<br><br><br><br>
<div class="col-md-5 offset-md-4  pt-5 mt-5 text-center" >
    <div class="bg-dark text-white mt-2 p-3 round-edge">
        <h2 class="m-2">Ingresar al Sistema</h2>
        <div class="col-md-10 ml-3 pl-5 pt-4">
            <label for="code" class="pt-1">Usuario:</label>
            <input type="text" class="form-control" ng-model="user.name" placeholder="Nombre de Usuario">
            </div>
            
            <div class="col-md-10 ml-3 pl-5 pt-3">
            <label for="name" class="pt-1">Contraseña:</label>
            <input type="text" class="form-control" ng-model="user.pwd" placeholder="Contraseña del Usuario">
            </div>
            
            <div class="btn-group pt-5  ">
                <a type="button" class="btn btn-success btn-lg " ng-click="login()">Ingresar</a>
            </div>
        </div>
    </div>
</div>